<!DOCTYPE html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<title>Farmer Portal</title>
 </head>
 <body>
<div class="bg-nav d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal text-light">Farmer portal</h5>
  <nav class="my-2 my-md-0 mr-md-3 text-light">
    <a class="p-2 text-light" href="#">Home</a>
    <a class="p-2 text-light" href="#">Analysis</a>
      {% if login=='f' %}
        <a class="p-2 text-light" href="/account/profile_farmer">Profile</a>
      {% else %}
        <a class="p-2 text-light" href="/account/profile_vender">Profile</a>
      {% endif %}
    <a class="p-2 text-light" href="#">Settings</a>
  </nav>
  <a class="btn btn-outline-primary" href="/logout">Logout</a>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card bg-success">
                <div class="card-body">
                    <h2>Total Earnings</h2>
                    <h4>50000</h4>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-info">
                <div class="card-body">
                    <h2>Total Earnings</h2>
                    <h4>50000</h4>
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="card bg-danger">
                <div class="card-body">
                    <h2>Total Earnings</h2>
                    <h4>50000</h4>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-warning">
                <div class="card-body">
                    <h2>Total Earnings</h2>
                    <h4>50000</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        {% if login=='f' %}
            <div class="col-md-9">
                {% block content %}
                    {% for prod in prods %}
                        <article class="media content-section">
                          <div class="media-body">
                            <div class="article-metadata">
                            </div>
                            <h2><a class="article-title" href="#">{{ prod[1] }}</a></h2>
                            <p class="article-content">{{ prod[3] }}kg at Rs.{{ prod[2] }}</p>
                              <p class="article-content">{{ prod[5] }}</p>
                          </div>
                        </article>
                    {% endfor %}
                {% endblock content %}
            </div>
        {% elif login=='v' %}
            <div class="col-md-9">
                {% block abc %}
                     {% for prod in prods %}
                        <article class="media content-section">
                          <div class="media-body">
                            <div class="article-metadata">
                                <a class="mr-2" href="#">{{ d[prod[4]][1] }}</a><hr>
                            </div>
                              <div class="row-md-3">
                                <table>
                                    <tr><td width="70%">
                                            <div class="col-md-9">
                                                <h2><a class="article-title" href="#">{{ prod[1] }}</a></h2>
                                                <p class="article-content">{{ prod[3] }}kg at Rs.{{ prod[2] }}</p>
                                                <p class="article-content">{{ prod[5] }}</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div >
                                                  <form class="form" method="post" action="/bid">
                                                      <label>Bid Price</label><br>
                                                      <input type="number" class="form-control" name="bid_price"><br>
                                                      <input type = "hidden" name = "prod_id" value = '{{ prod[0] }}' >
                                                      <input type = "hidden" name = "far_id" value = '{{ d[prod[4]][0] }}' >
                                                      <input type = "hidden" name = "far_price" value = '{{ prod[2] }}' >
                                                      <input type="submit" class="btn btn-danger btn-block" value="bid">
                                                  </form>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                          </div>
                        </article>
                    {% endfor %}
                {% endblock abc %}
            </div>
        {% endif %}
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                            {%if login=='f' %}
                                <form action="/post_product" method="post">
                                    <p>Launch New Product</p>
                                    <input type="submit" class="btn btn-danger btn-block" value="New Product">
                                    </form>
                            {% elif login=='v' %}
                                    <form action="/post_product" method="post">
                                    <p>New Bid</p>
                                    <input type="submit" class="btn btn-danger btn-block" value="New bid">
                                        </form>
                            {% endif %}


                    </div>


                </div>

            </div>
    </div>


</div>
</body>
</html>