<!DOCTYPE html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<title>Farmer Portal</title>
 </head>
 <body class="bg-nav">
    <div class="bg-nav d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal text-light">Farmer portal</h5>
  <nav class="my-2 my-md-0 mr-md-3 text-light">
    <a class="p-2 text-light" href="/account">Home</a>
    <a class="p-2 text-light" href="#">Analysis</a>
      <a class="p-2 text-light" href="/account/profile">Profile</a>
    <a class="p-2 text-light" href="#">Settings</a>
  </nav>
  <a class="btn btn-outline-primary" href="/logout">Logout</a>
</div>
    <div class="mb-4 text-light">
        <form class="form" method="post" action="/add_profile">
              <label for="address">Address</label>
              <input type="text" class="form-control" name="address" id="address" placeholder="" required>
                <div class="invalid-feedback">
                Please enter your  address.
                </div>
              <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
              <input type="text" class="form-control" name="address2" id="address2"><br>
              <label>Phone Number</label>
              <input type="text" class="form-control" name="phone_no" id="phone_no" placeholder="" required>
                <div class="invalid-feedback">
                Please enter your phone number.
                </div>
                <label for="country">Country</label>
                <select class="custom-select d-block w-100" id="country" name="country" required>
                  <option value="">Choose...</option>
                  <option>India</option>
                </select>
                <div class="invalid-feedback">
                  Please select a valid country.
                </div>
                <label for="address">village</label>
              <input type="text" class="form-control" name="village" id="address" placeholder="" required>
                <div class="invalid-feedback">
                Please enter your village.
                </div>

                <label for="state">State</label>
                <select class="custom-select d-block w-100" id="state" name="state" required>
                  <option value="">Choose...</option>
                  <option>West Bengal</option>
                </select>
                <div class="invalid-feedback">
                  Please provide a valid state.
                </div>
                <label for="zip">Zip</label>
                <input type="text" class="form-control" name="zip" id="zip" placeholder="" required><br>
                <div class="invalid-feedback">
                  Zip code required.
                </div>


            <div  align="center">
                <input type="submit" class="btn btn-primary btn-block btn-lg" width="30" value="Update">
            </div>
    </div>

</body>
</html>