<!DOCTYPE html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<title>Farmer Portal</title>
 </head>
 <body class="bg-nav">
    <nav class="navbar bg-nav">
        <a href="" class="navbar-brand text-light">Farmer Portal</a>
    </nav>

 {% for item in profile %}
<tr>
    <td>{{item[0]}}</td>
    <td>{{item[1]}}</td>
</tr>

{% endfor %}

</body>
</html>